
#reblog-selection {
  width:100%;
  margin:0 auto;
  box-sizing: border-box;
  position:fixed;
  border-bottom:1px solid #666;
  background-color:rgba(240,240,240,0.95);
  padding:2px;
  top:0px;
  left: 0px;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
  -webkit-box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
  box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
  text-align:center;
}

#reblog-selection input#reblog-selection-blog-url {
  vertical-align: top;
  font-size: 12px;
  margin-top: 3px;
}

.reblog-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  white-space: nowrap;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.reblog-button a {
  text-decoration: none;
  color: #fff;
  background: #2ea2cc;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 6px 0 4px;
  white-space: nowrap;
  height: 20px;
  display: inline-block;
  line-height: 2px;
}

#reblog-selection.active #reblog-selection-submit.reblog-button a {
  background: #2ea2cc;
} 
#reblog-selection.active #reblog-selection-submit.reblog-button a:hover {
  background: #1e8cbe;
}

#reblog-selection.inactive #reblog-selection-submit.reblog-button a {
  background: #999;
  cursor: not-allowed;
} 

.reblog-button a:hover {
  background: #1e8cbe;
}

.reblog-button-logo {
  position: relative;
  top: 3px;
  margin-right: 3px;
}

#reblog-this-button {
  color:#FFF;
  float: right;
  padding:4px;
  opacity:1;
  margin:5px 3px;
  display:inline-block;
  width:57px;
  height:20px;
   -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
   box-sizing: border-box; 
}

#reblog-selection #url-label {
  font-size: 11px;
  display: inline-block;
  padding-top: 8px;
  color: #999;
}

#reblog-selection #reblog-selection-close-modal {
  position:absolute;
  top:2px;
  right:5px;
  font-weight:bold;
  font-family: sans-serif;
  text-decoration:none;
  color: #07C;
  cursor:pointer;
}

#reblog-selection #reblog-selection-submit {
  cursor:pointer;
  margin: 10px 0;
  font-size: 12px;
  text-align: left;
}


#reblog-selection #content-selection {
  min-height: 0px;
  text-align: left;
  padding: 0px 10px;
  font-size: 12px;
  border-left: 3px solid #666;
  margin: 10px 0;
  font-style: italic;
  max-height: 100px;
  overflow-y: scroll;
  background: #ddd;
}

#reblog-selection ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #ccc;
}
#reblog-selection :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #ccc;
  opacity:  1;
}
#reblog-selection ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #ccc;
  opacity:  1;
}
#reblog-selection :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #ccc;
}
#reblog-selection ::-ms-input-placeholder { /* Microsoft Edge */
  color:    #ccc;
}

.unselectable {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#reblog-selection #content-container {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

#reblog-selection #source {
  display: none;
  text-align:left;
  font-size: 12px;
  color:#999;
}

.select-prompt {
  padding: 10px 0;
  font-style: normal;
  font-weight: bold;
  color: red;
}