
#reblog-this-button {
  float: right;
  padding:4px;
  opacity:1;
  margin:5px 3px;
  display:inline-block;
  width:65px;
  height:18px;
  background-size: 65px 18px;
  background-image:url("/wp-pressthis-button.png");
   -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
   box-sizing: border-box; 
}
#reblog-this-button:hover {
  opacity:0.5;
}

#reblog-selection {
  width:350px;
  margin:auto;
  text-align:center;
  position:fixed;
  border:1px solid #ccc;
  background-color:rgba(240,240,240,0.95);
  padding:20px;
  top: 10px;
  right: 10px;
  font-family: sans-serif;
  -webkit-box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
  box-shadow: -8px 8px 11px -5px rgba(0,0,0,0.25);
}
#reblog-selection #reblog-selection-close-modal {
  position:absolute;
  top:5px;
  right:5px;
  font-weight:bold;
  font-family: sans-serif;
  text-decoration:none;
}
#reblog-selection #reblog-selection-submit, 
#reblog-selection #reblog-selection-continue {
  margin:10px 0 10px;
  font-size:14px;
  background-color:rgb(33, 117, 155);
  padding:6px;
  color:#FFF;
  font-weight:bold;
}
#reblog-selection #reblog-selection-highlight-prompt {
  font-size:14px;
  font-family: sans-serif;  
  margin:-5px 0 10px 0;
  line-height:1.2;
}
#reblog-selection #reblog-selection-blog-url {
  font-size:13px;
  padding:4px;
}

#reblog-selection.hidden                               {        display: none;           }
#reblog-selection.hidden       #reblog-selection-url-prompt {        display: none;           }
#reblog-selection.hidden       #reblog-selection-blog-url {          display: none;           }
#reblog-selection.hidden       #reblog-selection-highlight-prompt {  display: none;           }
#reblog-selection.hidden       #reblog-selection-continue {          display: none;           }
#reblog-selection.hidden       #reblog-selection-submit {            display: none;           }
          
#reblog-selection.specify-blog                               {  display: block;          }
#reblog-selection.specify-blog #reblog-selection-url-prompt {        display: block;          }
#reblog-selection.specify-blog #reblog-selection-blog-url {          display: block; width: 100% ;          }
#reblog-selection.specify-blog #reblog-selection-highlight-prompt {  display: none;           }
#reblog-selection.specify-blog #reblog-selection-continue {          display: inline-block;   }
#reblog-selection.specify-blog #reblog-selection-submit {            display: none;           }
          
#reblog-selection.select-text                               {   display: block;          }
#reblog-selection.select-text  #reblog-selection-url-prompt {        display: none;           }
#reblog-selection.select-text  #reblog-selection-blog-url {          display: none;           }
#reblog-selection.select-text  #reblog-selection-highlight-prompt {  display: inline-block;   }
#reblog-selection.select-text  #reblog-selection-continue {          display: none;           }
#reblog-selection.select-text  #reblog-selection-submit {            display: none;           }
              
#reblog-selection.press-this                               {    display: block;          }
#reblog-selection.press-this   #reblog-selection-url-prompt {        display: none;           }
#reblog-selection.press-this   #reblog-selection-blog-url {          display: none;           }
#reblog-selection.press-this   #reblog-selection-highlight-prompt {  display: none;           }
#reblog-selection.press-this   #reblog-selection-continue {          display: none;           }
#reblog-selection.press-this   #reblog-selection-submit {            display: inline-block;   }

#reblog-selection ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #ccc;
}
#reblog-selection :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #ccc;
  opacity:  1;
}
#reblog-selection ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #ccc;
  opacity:  1;
}
#reblog-selection :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #ccc;
}
#reblog-selection ::-ms-input-placeholder { /* Microsoft Edge */
  color:    #ccc;
}
  